rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global Safety Net: Default Deny
    match /{document=**} {
      allow read, write: if false;
    }

    // LinkFlow config
    match /configs/{configId} {
      allow read, write: if true;
    }

    // Logs
    match /logs/{logId} {
      allow read, write: if true;
    }

    // Sessions
    match /sessions/{sessionId} {
      allow read, write: if true;
    }
  }
}
